worker_processes 1;

events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        server_name testhost;

        location / {
            root /var/www/html;
            index index.php index.html index.htm;
        }

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass php:9000;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }
    }
}
